.container {
  max-width: 1440px;
  background-color: #fff;
  background-repeat: repeat-y;
}

:root{
  --background-black: #000;
  --background-black-01: #020406;
  --background-black-02: #242424;
  --background-white: #FAFAFA;
  --background-white-01: #F6F3F1;
  --background-white-02: #FCFAF8;
}

@font-face {
  font-family: 'Xiaomi Brand';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('https://i02.appmifile.com/i18n/fonts/Brand/Brand.woff2') format('woff2');
}


@import url("https://i02.appmifile.com/i18n/fonts/CamphorPro/vf/index.css");
@import url("https://i02.appmifile.com/i18n/fonts/CamphorPro/woff2/index.css");


.img-fluid {
  width: 100%;
  height: auto;
}

.title {
  text-align: center;
  font-size: 3rem;
  font-weight: 500;
  font-family: "Xiaomi Brand";
  position: relative;
  line-height: 1;
  overflow-wrap: break-word;
  color: #292929;
}

.title-2 {
  text-align: center;
  font-weight: bold;
  font-size: 2.7rem;
  margin: 2rem;
}

.subtitle {
  text-align: center;
  font-size: 2.3rem;
  font-weight: 600;
  font-family: "Camphor Pro", sans-serif;
  position: relative;
  margin-bottom: 1rem;
  overflow-wrap: break-word;
}


.p-center {
  font-size: 1.1rem;
  text-align: center;
  padding: 20px;
  font-family: "Camphor Pro", sans-serif;
  position: relative;
  line-height: 1.3;
  overflow-wrap: break-word;
}

.p-aviso {
  font-size: 0.9rem;
  text-align: center;
  padding: 20px;
  font-family: "Camphor Pro", sans-serif;
  position: relative;
  overflow-wrap: break-word;
}

.icons-title {
  font-size: 2.7rem;
  text-align: center;
  font-family: "Camphor Pro", sans-serif;
  position: relative;
  font-weight: 700;
  color: #5c317e;
  margin-top: 1rem;
  line-height: 1.2;
}

.icons-title-01 {
  font-size: 2.5rem;
  text-align: center;
  font-family: "Camphor Pro", sans-serif;
  position: relative;
  font-weight: 700;
  color: #5c317e;
  margin-top: 1rem;
  line-height: 1.2;
}

.icons-text {
  font-size: 1rem;
  text-align: center;
  font-family: "Camphor Pro", sans-serif;
  position: relative;
  font-weight: 400;
  line-height: 1.2;
  margin-top: 1rem;
}

.icons-tex {
  font-size: 1rem;
  text-align: center;
  font-family: "Camphor Pro", sans-serif;
  position: relative;
  font-weight: 400;
  color: #7f7f7f;
}

.txt-preto {
  color: var(--background-black);
}

.txt-branco {
  color: var(--background-white);
}



.boxcolor-black{
  background-color: var(--background-black);
}

.boxcolor-black-01{
  background-color: var(--background-black-01);
}

.boxcolor-black-02{
  background-color: var(--background-black-02);
}

.boxcolor-with{
  background-color: var(--background-white);
}

.boxcolor-white-01{
  background-color: var(--background-white-01);
}

.boxcolor-white-02{
  background-color: var(--background-white-02);
}



.boxcolor-notas {
  background-color: var(--background-black-01);
}


p.txt-branco-preto {
  color: var(--background-white);
}

.spacing{
  padding: 3rem;
}

/*************************************************** Grid *************************************/

.grid-pad-se-desk {
  padding-top: 1rem;
  padding-bottom: 1rem;
  max-width: 90rem;
  margin: 0 auto;
  border: 1px solid #ccc;

  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: 100px 100px 100px;
}

.grid-pad-se {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 63rem;
  margin: 0 auto;
  gap: 7rem;
  margin-top: -12rem;
}

.grid-pad-se-text {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  max-width: 56rem;
  margin: 0 auto;
  gap: 9rem;
}

.grid-img-text {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  max-width: 76rem;
  margin: 0 auto;
  gap: 12rem;
  position: relative;
  top: -11rem;
}

.grid-img-pad {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  flex-direction: row;
  gap: 2rem;
}

.img-grid-mob{
  display: none;
}
.img-grid-desk{
  display: block;
  padding: 8rem;
}

.icon-white-desk{
  display: block;
}

.icon-dark-mob{
display: none;
}

/**************************************************** Mobile ************************************************/

@media only screen and (max-width: 920px) {

  
  .icon-white-desk{
    display: none;
  }
  
  .icon-dark-mob{
    display: block;
  }

  .img-grid-desk{
    display: none;
  }

  .img-grid-mob{
    display: block;
    padding: 1rem;
  }


/**************************************** Grind Mobile ********************************************/

  .grid-img-text {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 20rem;
    margin: 0 auto;
    flex-direction: column;
    gap: 1rem;
    top: 1.5rem;
  }

  .grid-pad-se-text {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    max-width: 22rem;
    margin: 0 auto;
    flex-direction: row;
    gap: 3rem;
    margin-top: 1rem;
    align-content: center;
    align-items: center;
}
.grid-img-pad {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  align-content: center;
  align-items: center;
  padding: 1rem;
}

.grid-pad-se {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  max-width: 17rem;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

  .grid-buds4-desk {
    display: none;
  }


/************************************************************************************/


.spacing{padding: 1.5rem;}

  p.txt-branco-preto {
    color: #05061a;
  }
  
  .title {
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    font-family: "Xiaomi Brand";
    position: relative;
    line-height: 1;
  }

  .title-2 {
    text-align: center;
    font-weight: bold;
    font-size: 1.8rem;
    margin: 2rem;
  }

  .subtitle {
    text-align: center;
    font-size: 1.09rem;
    font-weight: 700;
    font-family: "Camphor Pro", sans-serif;
    position: relative;
    margin-bottom: 0.5rem;
  }

  .sub-title {
    text-align: center;
    font-size: 1.1rem;
    font-weight: 400;
    font-family: "Camphor Pro", sans-serif;
    position: relative;
    margin-bottom: 0.5rem;
  }

  .p-center {
    font-size: 0.99rem;
    text-align: center;
    padding: 20px;
    font-family: "Camphor Pro", sans-serif;
    position: relative;
    overflow-wrap: break-word;
}

  .p-aviso {
    font-size: 0.8rem;
    text-align: center;
    padding: 20px;
    font-family: "Camphor Pro", sans-serif;
    position: relative;
  }

  .icons-title {
    font-size: 1.9rem;
    text-align: center;
    font-family: "Camphor Pro", sans-serif;
    position: relative;
    font-weight: 700;
    margin-top: 1rem;
}

  .icons-text {
    font-size: 1rem;
    text-align: center;
    font-family: "Camphor Pro", sans-serif;
    position: relative;
    font-weight: 500;
    line-height: 1.2;
    margin-top: 1rem;
  }

  .icons-tex {
    font-size: 1rem;
    text-align: center;
    font-family: "Camphor Pro", sans-serif;
    position: relative;
    font-weight: 400;
    color: #7f7f7f;
  }

  .icons-title-01 {
    font-size: 1.9rem;
    text-align: center;
    font-family: "Camphor Pro", sans-serif;
    position: relative;
    font-weight: 700;
    color: #5c317e;
    margin-top: 1rem;
    line-height: 1.2;
}

.p-notas{
  text-align: left;
  font-size: 0.9rem;
}

/***********************************************************************/

  .div02 {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 0.625rem;
    margin-top: 0.625rem;
    min-height: 11.25rem;
    width: 20.416667rem;
  }

  .div03 {
    align-items: flex-start;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    min-height: 8.333333rem;
    width: 20.395833rem;
  }

}